[submodule "blarney"]
	path = blarney
	url = https://github.com/blarney-lang/blarney
	branch = master
[submodule "src/CHERI/cheri-cap-lib"]
	path = src/CHERI/cheri-cap-lib
	url = https://github.com/CTSRD-CHERI/cheri-cap-lib
	branch = mn416-blarney
